<div class="w-100">
    <h1>My Heroes</h1>
    <hr class="mb-5">
    <app-add-heroe [heroes]="heroes" (addHeroEvent)="render()"></app-add-heroe>
    <hr class="mb-5">
    <h1>List Heroes</h1>
    <div class="container">
        <div *ngFor="let hero of heroes" class="row">
            <div class="col-4 px-0">
                <div class="w-100 d-flex align-items-stretch cont-hero">
                    <div class="w-25 d-flex justify-content-center align-items-center">
                        <h2 class="p-0 m-0 bg-secondary text-center w-100">{{ hero.id }}</h2>
                    </div>
                    <div class=" w-50 d-flex bg-light justify-content-center align-items-center">
                        <p class="p-0 m-0 text-center w-100">{{ hero.name }}</p>
                    </div>
                    <div class="w-25 d-flex justify-content-center align-items-center">
                        <button (click)="deleteHero(hero.id)" class="btn btn-warning w-100">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>